################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StringCalculator/obj
/StringCalculator/bin/Debug/netcoreapp3.1
/StringCalculator.Tests/bin/Debug/netcoreapp3.1
/StringCalculator.Tests/obj
